<div class="container-fluid" id="content">
    <div class="row">
      <div class="col-12 mt-2">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="user-image">
                      <img src="../assets/img/profile-img.png" />
                    </div>
                    <div class="user-details">
                      <p style="float:left"><span class="emp-name w-100 float-left">Admin</span> <span class="ep-id w-100 float-left">( Employee Id  : admin123 )</span></p>
                      <p>
                        <span>Designation </span><span> : admin</span>
                      </p>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="div-emp">
                      <div class="emp-icon">
                        <img src="../assets/img/total-leave.png" />
                      </div>
                      <div class="emp-content">
                        <span>Total Leaves <b class="mx-2 float-right">( 28 )</b></span> 
                        <div class="div_leave">
                          <ul class="li-leave">
                            <li>
                              <span>Annual</span>
                              <b>5</b>
                            </li>
                            <li>
                              <span>Medical</span>
                              <b>11</b>
                            </li>
                            <li>
                              <span>Compensatory</span>
                              <b>12</b>
                            </li>
                          </ul>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="div-emp">
                      <div class="emp-icon">
                        <img src="../assets/img/emp-dateandtime.png" />
                      </div>
                      <div class="emp-content">
                        <span>Today Date & Time</span>
                        <b class="float-right">20/03/2023 12:00PM</b>
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        <div class="col-12 mt-3">
          <div class="card card">
            <div class="sub-title border-bottom m-0 p-2">Announcement</div>
      
           
            <div class="card-body "> 
              <div class="row">
             
               </div> 
              <!-- <div class="msg_container">
               
                </div> -->
            
                <!-- <div class="submsg_container">
                 
                 <img src="../../../assets/img/profile-img.png" alt="Avatar"> <span>{{item.title}} </span>
                 <p>    <img
                  [src]="generateUrl(item.attachment)"
                    alt="logo"
                    class="imgzoom"
                    style="width: 35px"
                  
                  /> {{item.message}}<span>
                 </span></p>
                </div> -->
                <div class="modal fade" role="dialog">
                  <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      
                      <div class="modal-body" style="cursor: pointer !important;">
                        <p > <img   style="width: 100%;"></p>
                        <div> </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                
                  </div>
                </div>
               
             </div>
            
          </div>
      
        </div>
      </div>
     
    </div>
  