<div  class="sidenav-bar">
    <nav  id="sidebar" class="collapse navbar-collapse show" ng-reflect-ng-class="[object Object]" style="border-bottom: none;">
      <ul class="list-unstyled components">
          <li ><a href="/#/fomema/dashboard"><i  class="fa fa-dashboard"></i><span  class="menu-title"> Dashboard</span></a></li>
          <li class="active" ><a href="/#/fomema/employee-list"><i  class="fa fa-user-plus"></i><span  class="menu-title"> Employee Registration</span></a></li>
          <li><a  href="leave-list.html"><i  class="fa fa-home"></i><span  class="menu-title"> Leave Management</span></a></li>
          <li ><a href="/#/fomema/timesheet-list"><i  class="fa fa-clock-o"></i><span  class="menu-title"> Timesheet Management</span></a></li>
          <li ><a href="claims-list.html"><i  class="fa fa-money"></i><span  class="menu-title"> Claims</span></a></li>
       </ul>
       <div class="submenu-title">
        <div class="sub-menu">  HR</div>
       </div>
       <ul class="list-unstyled components">
         <li ><a  href="timesheet-listnew1.html"><i  class="fa fa-clock-o"></i><span  class="menu-title"> Timesheet Management
         </span></a></li>
         <li><a  href="leave-hr.html"><i  class="fa fa-home"></i><span  class="menu-title"> Leave Management</span></a></li>
         <li><a  href="claims-hr.html"><i  class="fa fa-money"></i><span  class="menu-title"> Claims</span></a></li>
       </ul>
      <!--bindings={
"ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
  </nav>
   <button  type="button" id="sidebarCollapse" data-toggle="collapse" class="btn btn-primary toggle-btn"><i  aria-hidden="true" class="fa fa-th-list"></i></button>
  </div>